

<div class="armor">

<div class="armor-item">
	<h1><%= @armorTier.armor_material.name %> Healm <%= @armorTier.name %></h1>
	<span class="stat-bonus">+<%= @armorTier.agility %> Agility</span>
	<span class="stat-bonus">+<%= @armorTier.stamina %> Stamina</span>
	<span class="stat-bonus">+<%= @armorTier.strength %> Strength</span>
	<span class="stat-level">Level <%= @armorTier.level %></span>
</div>