<div class="armor">
	<% @armor.each do |a| if a != nil then %>
  <div class="armor-item">
			<h1><%= a.name %> <%= a.armor_tier.name %></h1>
			<span class="stat-bonus"><%= a.stat.agility %> Agility</span>
			<span class="stat-bonus"><%= a.stat.stamina %> Stamina</span>
			<span class="stat-bonus"><%= a.stat.strength %> Strength</span>
			<span class="stat-bonus"><%= a.stat.intellect %> Intellect</span>
			<span class="stat-level">Level <%= a.armor_tier.level %></span>
		</div>
	<% end end %>
</div>
